@import '../app.scss';

.about-wrapper {
  width: 100%;
  background-color: #333333;
  .about-container {
    padding: $padding;
    padding-top: 8%;
    display: grid;
    grid-template-columns: 30% 70%;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      position: relative;
      &-container {
        position: sticky;
        right: -100%;
        transition: 1s right ease-out;
        p,
        h3 {
          text-align: end;
          padding-right: 2em;
        }
        .about,
        .learn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-transform: uppercase;
          font-family: 'Lato', sans-serif;
          color: $color-secondary;
          padding: 4rem 2em;
          opacity: 0;
          transition: 2s opacity ease-in;
          a {
            color: $color-secondary;
            text-decoration: none;
            display: flex;
            align-items: center;
            .icon {
              margin-left: 0.4em;
            }
          }
          &.stickyParaph {
            opacity: 1;
          }
        }
        h3 {
          font-family: 'Prata', sans-serif;
          font-size: 2vw;
          font-weight: 200;
          color: $color-principal;
          opacity: 0;
          transition: 2s opacity ease-in;
          span {
            color: $color-secondary;
          }
        }

        .stickySpeech {
          opacity: 1;
        }
      }
      .info-container.containerSticky {
        right: 0%;
      }
    }
    .photo {
      max-width: 100%;
      overflow-x: hidden;
      .photo-container {
        height: 65%;
        position: absolute;
        left: -100%;
        opacity: -10;
        transition: 8s opacity ease-out;

        img {
          height: 100%;
        }
        &.photoSticky {
          left: 0;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .about-wrapper {
    .about-container {
      grid-template-columns: 40% 60%;

      .photo {
        max-width: 100%;
        overflow-x: hidden;
        .photo-container {
          height: 53%;
          position: absolute;
          left: -100%;
          opacity: -10;
          transition: 8s opacity ease-out;

          img {
            height: 135%;
          }
          &.photoSticky {
            left: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and(max-width:678px) {
  .about-wrapper {
    .about-container {
      display: flex;
      grid-template-columns: none;
      padding-bottom: 12%;
      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &-container {
          .about,
          .learn {
            justify-content: center;
          }
        }
        h3 {
          font-size: 4vw;
          text-align: justify;
          padding-left: 2rem;
        }
      }
    }
    .photo {
      display: none;
    }
  }
}
