@import '../app.scss';

.contact-wrapper {
  background-color: $color-secondary;
  padding: $padding;
  padding-bottom: 3rem;
  .title {
    padding: 5rem 0;
    p {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 20px;
      color: $text-dark;
    }
  }
}
