@import '../../app.scss';

.form-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .contactForm {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    padding-right: 5rem;
    border-right: 1px solid $text-dark;
    div {
      &:nth-child(1) {
        grid-column: 1 1;
        grid-row: 1 1;
        .input {
          width: 95%;
        }
      }
      &:nth-child(2) {
        grid-column: 2 2;
        grid-row: 1 1;
        .input {
          width: 100%;
        }
      }
      &:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: col 2;
        grid-row: 2 2;
        .input {
          width: 100%;
        }
      }
    }
    textarea {
      resize: none;
      grid-row-start: 3;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: col 2;
      padding: 1em;
      background: $color-principal;
      border-radius: 12.5px;
      border: 2px solid $text-dark;
      outline: none;
      width: 100%;
      -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.24);
      box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.24);
      margin-bottom: 1.5em;
    }
    textarea .invalidTextArea {
      border: 2px solid red;
    }
    .button-container {
      width: 50%;
      button {
        padding: 1em 2em;
        background-color: $text-dark;
        color: $color-principal;
        border-radius: 12.5px;
        border: none;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        &:hover {
          background-color: #0f0f0f;
        }
      }
    }
    .loaderContainer {
      width: 50%;
      svg {
        width: 100%;
        height: 70px;
      }
    }
  }
  .contact-info {
    padding: 3rem 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .social-media {
      display: flex;
      align-items: center;
      .icon {
        font-size: 3vw;
        color: $text-dark;
        cursor: pointer;
        transition: 0.3s transform ease-in;
        &:hover {
          color: #111;
          transform: translateY(-10px);
        }
      }
      p {
        margin-left: 1em;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
      }
    }
  }
  .messageContainer {
    position: fixed;
    width: 100%;
    top: -20%;
    left: 0;
    z-index: 6;
    transition: 0.7s all ease-in-out;
    .message {
      padding: $padding;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
      h3 {
        font-family: 'Lato', sans-serif;
        font-size: 1.4rem;
      }
    }
    &.active {
      top: 0;
    }
  }
  .messageContainer.dangerMessage {
    background-color: #d11717;
    .message {
      h3 {
        color: #350303;
      }
    }
  }
  .messageContainer.successMessage {
    background-color: #1ae23b;
    .message {
      h3 {
        color: #093503;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .form-container {
    width: 80%;
    .contactForm {
      padding-right: 5%;
    }
  }
}

@media screen and (max-width: 678px) {
  .form-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .contactForm {
      width: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 2fr;
      padding-right: 0;
      border-right: none;
      margin: 0 auto;
      div {
        &:nth-child(1) {
          grid-column: 1 1;
          grid-row: 1 1;
          .input {
            width: 95%;
          }
        }
        &:nth-child(2) {
          grid-column: 2 2;
          grid-row: 1 1;
          .input {
            width: 100%;
          }
        }
        &:nth-child(3) {
          grid-column-start: 1;
          grid-column-end: col 2;
          grid-row: 2 2;
          .input {
            width: 100%;
          }
        }
      }
      textarea {
        resize: none;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: col 2;
        padding: 1em;
        background: $color-principal;
        border: 2px solid $text-dark;
        outline: none;
        width: 100%;
        -webkit-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.24);
        box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.24);
        margin-bottom: 1.5em;
      }
      .button-container {
        grid-column-start: 1;
        grid-column-end: col 2;
        width: 100%;
        button {
          width: 100%;
          padding: 1em 2em;
          background-color: $text-dark;
          color: $color-principal;
          border: none;
          cursor: pointer;
          transition: 0.3s all ease-in-out;
          &:hover {
            background-color: #0f0f0f;
          }
        }
      }
    }
    .contact-info {
      display: none;
    }
  }
}
